# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @imskr, @Ishaan28malik, @atcodedog32 and @ShubhikaBhardwaj will be requested for
# review when someone opens a pull request.
*   @imskr @Ishaan28malik @atcodedog32 @ShubhikaBhardwaj
