/*@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf"); }*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #C0C0C0;
    font-family: "Muli-Regular";
    font-size: 12px;
    margin: 0;
}

#result {
    font-family: "Muli-Regular";
    color: #696969;
    left: 840px;
    bottom: 28px;
    font-size: 16px;
    position: fixed;
}

button {
    font-family: "Muli-Regular";
}

.heading {
    letter-spacing: 1px;
    color: #013220;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    position: fixed;
    font-weight: 900;
    left: 840px;
    top: 56px;
}


.img {
    border-radius: 24px;
    width: 176px;
    height: 176px;
    left: 904px;
    top: 280px;
}

.imgbox {
    transition: box-shadow .3s;
    border-radius: 24px;
    border: 1px #696969;
    width: 176px;
    height: 176px;
    left: 904px;
    top: 280px;
    text-align: center;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.imgbox:hover .img {
    opacity: 0.3;
}

.imgbox:hover .middle {
    opacity: 1;
}

.inner {
    position: fixed;
    width: 348px;
}



.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@media (max-width:400px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

form {
    border-radius: 24px;
    filter: drop-shadow(2px 2px 2px #000);
    width: 264px;
    height: 304px;
    background-color: #C0C0C0;
    position: fixed;
    padding: 40px 40px 40px;
    top: 240px;
    left: 840px;
    border: 1px #696969;
}

.imgboxtext {
    top: 400px;
    left: 840px;
}

.add {
    background: #013220;
    font-family: "Muli-Regular";
    font-size: 12px;
    text-align: center;
    width: 72px;
    height: 32px;
    color: #fff;
    letter-spacing: 1px;
}

.text {
    font-family: "Muli-Regular";
    color: #696969;
    top: 160px;
    left: 840px;
    font-size: 16px;
    position: fixed;
}

.middle input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#right {
    border-radius: 0% 60% 50% 0%;
    height: auto;
    width: 760px;
    left: 880px;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 1), 0 40px 40px rgba(0, 0, 0, 1);
}

button {
    border: none;
    width: 100%;
    height: 45px;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #013220;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    font-size: 12px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

button span {
    position: relative;
    z-index: 2;
}

button span {
    position: relative;
    z-index: 2;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 128, 0, 0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

button:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

button:hover:before,
button:hover:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

body {
    overflow: hidden;
}
